/*
Theme Name: ERP portal
Description:
Version: 4.5
Author: Tijs
Author URI: https://kriesi.at
Template: enfold
License: Themeforest Split Licence
License URI: -
Theme URI: www.kriesi.at/themes/enfold/
*/

/*Helpers*/

.bg-white,
.bg-white .avia-testimonial-row .avia-testimonial{
background-color: #fff;
}

.main_color b,
.main_color strong{
	color: #666666;
}

.border-radius-100{
border-radius: 100px;
}

.border-radius{
border-radius: 6px !important;
}

.card-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.box-shadow{
	box-shadow: 0 1px 2px rgba(0,0,0,0.12);
}

.section-shadow{
box-shadow: 10px 0 16px 1px rgba(38,38,38,.28);
}

h2{
    line-height: 1.4;
}


.bold h1.av-special-heading-tag,
.bold h2.av-special-heading-tag,
.bold h3.av-special-heading-tag,
.bold h4.av-special-heading-tag,
.bold
{
font-weight: 500;
}

.fw-300,
.fw-300 p,
.fw-300 h1.av-special-heading-tag,
.fw-300 h2.av-special-heading-tag,
.fw-300 h3.av-special-heading-tag
{
	font-weight: 300;
}

.fw-400,
.fw-400 p,
.fw-400 h1.av-special-heading-tag,
.fw-400 h2.av-special-heading-tag,
.fw-400 h3.av-special-heading-tag,
.fw-400 h4.av-special-heading-tag
{
	font-weight: 400;
}

.fw-500,
.fw-500 p,
.fw-500 h1.av-special-heading-tag,
.fw-500 h2.av-special-heading-tag,
.fw-500 h3.av-special-heading-tag,
.fw-500 h4.av-special-heading-tag
{
	font-weight: 500;
}
.fw-700,
.fw-700 p,
.fw-700 h1.av-special-heading-tag,
.fw-700 h2.av-special-heading-tag,
.fw-700 h3.av-special-heading-tag,
.fw-700 h4.av-special-heading-tag
{
	font-weight: 700;
}

.fw-800,
.fw-800 p,
.fw-800 h1.av-special-heading-tag,
.fw-800 h2.av-special-heading-tag,
.fw-800 h3.av-special-heading-tag,
.fw-800 h4.av-special-heading-tag
{
	font-weight: 800;
}

.fw-900,
.fw-900 p,
.fw-900 h1.av-special-heading-tag,
.fw-900 h2.av-special-heading-tag,
.fw-900 h3.av-special-heading-tag,
.fw-900 h4.av-special-heading-tag
{
	font-weight: 900;
}

.automargin, .auto-margin{
	margin: 10px auto !important;
    float: none !important;
}

.float-right{
float: right !important;
}
.cursor-pointer{
	cursor: pointer;
}

.m-t-0{margin-top: 0px !important;}
.m-t-15{margin-top: 15px !important;}
.m-t-20{margin-top: 20px !important;}
.m-t-30{margin-top: 30px !important;}
.m-t-40{margin-top: 40px !important;}
.m-t-60{margin-top: 60px !important;}
.m-t-80{margin-top: 80px !important;}

@media (min-width: 768px)
{
.m-t-200{margin-top: 200px !important;}
.m-t-155{margin-top: 155px !important;}
}

.m-b-20{margin-bottom: 20px !important;}
.m-b-40{margin-bottom:40px !important;}
.m-b-60{margin-bottom:60px !important;}

.m-l-20{margin-left: 20px;}

.p-20{padding: 20px;}

.circle{
    margin: -70px auto 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 73px;
    font-size: 45px;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 300;
}

.green500 {
    background-color: #4CAF50;
}


@media (min-width: 768px){
	.m-big{
		margin: 40px 80px !important;
	}

	.promoblock{
		padding: 50px 40px !important;
	}
}

.aligncenter, .align-center{
	text-align: center;
}

.avia-icon-list .iconlist_title {
text-transform: none;
font-weight: normal;
}
.avia-icon-list .iconlist_title
{
margin-bottom: 10px;
}

.medium .avia-icon-list .iconlist_icon {
    height: 48px;
    width: 48px;
    line-height: 48px;
    font-size: 24px;
    margin-right: 24px;
    margin-left: 8px;
}

.medium .avia-icon-list .av-iconlist-empty .iconlist_title {
    margin-top: 0;
    line-height: 1.6;
}

.list-top .av_iconlist_title{
margin-top: 0 !important
}

.avia_transform a:hover .image-overlay {
	opacity: 0 !important;
}

span.avia_iconbox_title {
    font-size: 18px;
}


/*ERP Portal*/

.template-page .entry-content-wrapper h1,
.template-page .entry-content-wrapper h2{
	text-transform: none;
}

.av_seperator_small_border .av-main-nav > li > a > .avia-menu-text{
	font-size: 16px;
}

.erp-intro{
min-height: 40px;
}
/*
.hero h1{
    padding: 18px 30px !important;
    background-color: rgb(255,255,255,.9) !important;
    display: inline-block !important;
}
.hero .av-subheading_below p {
    font-size: 18px;
    display: inline-block;
    clear: both;
    float: none;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    font-weight: 500;
}*/

.hero .av-subheading_below p {
    font-size: 24px;
    font-weight: 500;
}

.av-subheading p {
    /* color: #616161; */
    /* font-style: italic; */
    font-size: 22px;
    font-weight: 500;
}

.erp-tile img{
padding-bottom: 20px;
width: 225px !important;}

.erp-tile .avia-image-container{
    height: auto !important;
    overflow: hidden;
}
.erp-tile .avia-image-container img {
    padding-bottom: 0;
}
.erp-h4 h4{
font-size: 18px !important;
    margin-top: 22px !important;
    line-height: 18px !important;
    text-align: center !important;
    padding-bottom: 25px !important;
    font-weight: 500 !important;
}

.modern-quote h2.av-special-heading-tag {
    font-weight: 900;
}

.av-subheading p{
    color: #616161;
    font-style: italic;
    font-size: 16px;
}


.small .avia-icon-list li
{
padding-bottom: 12px;
    min-height: 56px;
}

.small .avia-icon-list .iconlist-timeline{
left: 26px;}

.small .avia-icon-list .av-iconlist-empty .iconlist_title {
    margin-top: 4px;
}
.small .avia-icon-list .iconlist_icon {
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 18px;
    margin-right: 18px;
    margin-left: 8px;
}


.header_color .main_menu ul:first-child > li > a{
	color: #333;
}

.avia-content-slider h3.slide-entry-title{
	font-size: 18px !important;
	font-weight: 500 !important;
}

#top #wrap_all .header_color .av-menu-button-colored > a .avia-menu-text{
	background-color:#4CAF50;
		border-color: #4CAF50;
}

.av-main-nav > li > a{
	font-weight: 600;
	font-size: 13px;

}

.sub_menu>ul>li>a,
.sub_menu>div>ul>li>a{
	font-weight: 600;
	font-size: 13px;
}

.erp-deelnemers .avia-content-slider{
	margin-top: 0;
	margin-bottom: 0;
}

.nf-form-fields-required{
	display: none;
}

.ninja-forms-field.avia-button{
	font-size: 18px;
	cursor: pointer;
}

.ninja-forms-form-wrap{
	margin-top: 20px;
}

/*klanten*/
#top .avia-logo-element-container img{
box-shadow: none;
}

body.vendor-template-default .content{
	padding-top: 0px;
	padding-bottom: 0px;
}

body.vendor-template-default #top .av-submenu-container .container {
    margin: 0 !important;
}
